.jumbotron {
  background-color: #d6d45e !important;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: green; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #d6d45e;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 20px; }
