// las variables se definien con el signo $ en SASS html color picker, al correr la tarea se reemplaza todo con los valores OJO es importante el script de la tarea
$yellow : #d6d45e;

//Mixin
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom:  $bottom;
}

.jumbotron{
    background-color: $yellow !important;
    color: black;
    @include margenes(50px, 0px);
}
.btn{
    background-color: green;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow ;
    margin-bottom: 0px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 20px;
}